<!DOCTYPE html>
<html>
  <head>
  	<script src="/javascripts/form.js" type="text/javascript"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<button onclick="nameFunction()">+</button></br>
    <form action="/asdf" method="post" id="myForm">
      <div><input type="submit" value="Submit"/></div>
    </form>



  </body>
</html>	