<!DOCTYPE html>
<html>
  <head>
  	<script src="/javascripts/form.js" type="text/javascript"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<button onclick="nameFunction()">+</button></br>
    <span id="myForm"></span>


  </body>
</html>	