body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
button{
	color: #FF69B4;
}
#divorce{
	font-size: 10px;
	color: #8B1A1A;
}

#say{
	
	color: #FFA07A;
}
